*{
    padding: 0;
    margin: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    max-width: 1500px;
    margin: 0 auto;
}
/* shered styles */
.bg-color{
    background-color: rgba(26, 11, 46, 1);
}
.primary-color{
    color: rgba(0, 255, 136, 1);
}
.text-white{
    color: #FFFFFF;
}
.padding{
    padding-bottom: 20px;
}
.p-10{
    padding: 10px;
}
.m-bottom{
    margin-bottom: 50px;
}
.extra-bold{
    font-size: 3rem;
    font-weight: bolder;
}
.center{
    text-align: center;
}


.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
h1{
    margin-left: 200px;
}
.tech-wave{
    background:linear-gradient(to right, #FB09B4, #9100F8 );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.nav-btn{
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    margin-right: 200px;
    border-radius: 20px;
    width: 135px;
    height: 44px;
}
ul{
    display: flex;
}

ul li{
    list-style: none;
    margin-right: 20px;  
}

.hero-container{
    background-image: url('./assets/hero-bg.png');
    height: 760px;
}
.hero-circle-img{
    position: absolute;
    left: 635px;
    top: 180px;
}
.hero-microphone-img{
    position: absolute;
    left: 750px;
    top: 250px;
}

.hero-challange{
    position: absolute;
    left: 910px;
    top: 210px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 40px;
    padding: 10px 20px;
}
.tech-wave-details{
    position: absolute;
    top: 600px;
    left: 535px;
    width: 550px;
    height: 168px;
    text-align: center;

}
.spotify-btn{
    width: 160px;
    height: 44px;
    padding: 16px;
    border-radius: 16px;
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.subscribe-btn{
    width: 147px;
    height: 44px;
    background-color: #00FF88;
    padding: 16px;
    border-radius: 16px;
}
.podcast-container{
   height: 400px;
}
.podcast-details{
    width: 1100px;
    /* height: 220px; */
    margin: 0 auto;
    text-align: center;
}
.hr-style{
    width: 1100px;
}
.podcast-card{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
    text-align: center;
}
.Techwave-section{
    background-color: rgba(35, 14, 61, 1);
    padding: 100px 200px;
}
.div-layout-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6)  , 225px;
}
.first-div{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    grid-column: span 1;
    grid-row: span 2;
}
.second-div{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    grid-column: span 2;
    grid-row: span 1;
}
.third-div{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}
.ifram-section{
    height: 1276px;
    padding: 100px 190px;
    
}
.ifram-container{
    display: flex;
    gap: 30px;

}
.ifram-episodes{
    width: 390px;
    height: 440px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 20px;
}
.host-container{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 20px;
}
.icon{
    /* width: 20px;
    height: 20px; */
    padding: 10px;
    border: 1px white solid;
    border-radius: 50%;
}