*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1400px;
    margin: 0 auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 20px;
    /* color: white;     */
}

.hero-container{
    background-image: url('/assets/hero-bg.png');
    height: 760px;
}